{% extends "base.html" %}
{% block content %}
				<div id="imgMe" class="ClassImgMe">
					<img src="../images/roshan.jpg" width="150px" height="120px" alt="roshan" class="imgRoshan" />
				</div>
				<div id="divSpace2" style="height:130px; width:80%;"></div>
				<div id="myDescription" class="classMyDescription">
					<table>
						<tr><p style="text-align:left; font-family:verdana; font-size:20px;"><b>About Me</b></p></tr>
						<tr>
							<p style ="font-size:14; font-family:Verdana; text-align:justify">
							Hello Everyone, It's me Roshan Bhandari. I am a final year computer Engineering Student at Institute of Engineering, Pulchowk Campus, lalitpur, Nepal.
							I am a tech enthusiast who loves to travel, blog, read novels, develop software applications. I have studied Data Structure and Algorithms, Operating Systems, Database Management System, Software Engineering,
							Object Oriented Analysis and Design in my college.I am interested in developing web applications. I have a strong command in C, C++, C# 
							and Python programming language. I also have knowledge of HTML, CSS, Java Script, Ajax, XML and Json. I have a strong command of Database such as MY SQL, MS SQLand 
							Oracle. If you are looking to hire a software engineer then I might be a right candidate. Please, take a look at my <a href ="/resume">resume</a> 
							for further information.</p>
							<p style="font-size:14; font-family:Verdana; text-align:center"> Thank You for Visiting my site.</p>
						</tr>
					</table>
				</div>
{% endblock %}				
		