{% extends "base.html" %}
{% block content %}
	<script type="text/javascript">
		function changeHeight()
		{
			(document.getElementById("divContent")).style.height="2220px";
			(document.getElementById("divForm")).style.height="2300px";
		}
		onload=changeHeight();
	</script>
	<div id="divResume">
		<p style="text-align:center; font-family:verdana; font-size:20px; " ><b>My Resume</b> </p>
		<hr class="hrClass">
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >Name: Roshan Bhandari</p>
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >Phone Me: +977-9808-166-147 </p>
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >E-mail: brishi98@gmail.com </p>
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >Address: Kaushaltar,Bhaktapur,Nepal </p>
		<hr class="hrClass">
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >My Education: </p>	
		<hr class="hrClass">
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Bachleors in Computer Engineering  </p>	
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Institute of Engineering, Pulchowk Campus,Lalitpur,Nepal  </p>	
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Facuty of 2009-2013 </p>	
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Yet to be graduated(currently studying final year) </p>	
		<hr class="hrClass">
			<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >My Skills: </p>	
		<hr class="hrClass">
		
				<ul class = "classUlSkills1">
					<p style="margin-left:-20px;"><b>Programming Languages: </b></p>
					<li>C</li>
					<li>C++</li>
					<li>C# .NET</li>
					<li>Python</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Java Script</li>
					<li>Ajax</li>
					<li>JSON</li>
					<li>XML</li>
					<li>J-Query</li>
				</ul>
				<ul class = "classUlSkills2">
					<p style="margin-left:-40px;"><b>Database: </b></p>
					<li>GQL</li>
					<li>MS SQL</li>
					<li>MY SQL</li>
					<li>Oracle</li>
				</ul>
				<ul class = "classUlSkills3">
					<p style="margin-left:-60px;"><b>IDE's and OS: </b></p>
					<li>Visual Studio</li>
					<li>MatLab</li>
					<li>NetBeans</li>
					<li>Wamp Server</li>
					<li>Keil</li>
					<li>Windows</li>
					<li>Ubuntu Linux</li>
					<li>Google App Engine</li>
					
				</ul>
			
		<hr class="hrClass">
			
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;">Trainings, Workshops Attained and Volunteered :</p>
				<hr class="hrClass">
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>Training on Microsoft ASP .NET Technology</b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Conducted By: Zenith Computer Institute, Kupondole, Laliptur</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Held on December 2011 - February 2012 (Duration:7 weeks)</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Trainer: Er. Naresh Dhami (Software Engineer at IT Offshore, Nepal)</p>	

					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>Web Application Engineering on Udacity.com</b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Course by: Udacity.com</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;February 2012-April 2012 (Duration:7 weeks)</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Trainer:Steeve Huffman (founder of hipmunk.com, reditt.com)</p>	

					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>Building a search Engine on Udacity.com</b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Course by: Udacity.com</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;March 2012-May 2012 (Duration:7 weeks)</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Trainer:David Evans, Phd</p>	

					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>One Day Workshop on Open Source Technology</b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;IOE FOSS</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;2nd July 2011(1 day)</p>		

					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>Training and Seminar on Information Security</b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Organised By: LOCUS, IOE Pulchowk Campus</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;24th, 25th Feb 2012(2 days)</p>		

					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;<b>Volunteered on IT Conference </b> </p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;Organised By: SOCIT, IOE Pulchowk Campus</p>	
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >&nbsp;&nbsp;&nbsp;&nbsp;24th December 2011(1 day)</p>		
				<hr class="hrClass">				
					<p style="text-align:left; font-family:verdana; font-size:14px; margin-left:250px;margin-right:200px;" >Summary of My Qualifications: </p>
				<hr class="hrClass">	
						<p style="text-align:justify; font-family:verdana; font-size:14px; margin-left:270px;margin-right:200px;" >Computer Engineer with  various skills related to the Software Development, Web Application Development and Database Systems.</p>
						<p style="text-align:justify; font-family:verdana; font-size:14px; margin-left:270px;margin-right:200px;" >Strong grasp on Object Oriented Programming such as C++, C#, Python and RoR.</p>
						<p style="text-align:justify; font-family:verdana; font-size:14px; margin-left:270px;margin-right:200px;" >Good Knowledge of various Software Engineering principles and Methodologies.</p>
						<p style="text-align:justify; font-family:verdana; font-size:14px; margin-left:270px;margin-right:200px;" >Experience earned through various projects in C, C++, Python, C# .NET,RoR and Network Programming.</p>
						<p style="text-align:justify; font-family:verdana; font-size:14px; margin-left:270px;margin-right:200px;" >Strong Leadership,Project Management Skills and a Fast Learner.</p>
				<hr class="hrClass">	

		</div>
{% endblock %}